<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @commoditycategory.name %>
</p>

<%= link_to 'Edit', edit_commoditycategory_path(@commoditycategory) %> |
<%= link_to 'Back', commoditycategories_path %>
