<h1>Commander Log</h1>
<p>This is your pilot's log, Commander.</p>

<ul>
  <li><a href="/journal_entries">Journal</a></li>
  <li><a href="/systems">Systems</a></li>
  <li><a href="/commodities">Commodities</a></li>
  <li><a href="/commodityCategories">Commodity Types</a></li>
</ul>
